

.topnav {
    background-color: #7ccffc;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #808080;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
}

.topnav .hotline {
    float: left;
    color: red;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: medium;
    font-family: Open Sans, sans-serif;
}

.topnav a:hover {
    background-color: #40bcff;
    color: black;
}

.topnav a.active {
    background-color: #7ccffc;
    color: #292929;
}

.topnav .active:hover {
    background-color: #40bcff;
    color: black;
}

.midnav-container .row .col-md-7 .search-bar {
    margin: 70px 0px 0px 0px; 
    padding: 5px 15px;
    width: 80%;
}



.midnav-container .row .col-md-2 a  {
   
    line-height: 6;
    font-size:xx-large;
}
.midnav-container .row .col-md-2 .btn-cart{
    margin:-190px 0px 0px 85px;
}


    
 