<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Lam Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/a3aaa56245.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="~/Content/css/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="topnav">
            <div class="topcontainer">
                <span class="hotline"><i class="fa fa-phone"></i> Hotline:0347 305 124 </span>
                <a href="#Đăng ký"><i class="fa fa-key"></i> Đăng ký</a>
                <a href="#Đăng nhập"><i class="fa fa-sign-in"></i> Đăng nhập</a>
                <a href="#Giỏ hàng"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a>
                <a class="active" href="#Kiểm tra đơn hàng"><i class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a>
            </div>
        </div>
        <div class="midnav-container">
            <div class="row">
                <div class="col-md-3">
                   <a href="#logo"><img class="logo" src="~/Content/Images/Logo.png" /></a> 
                </div>
                <div class="col-md-7">
                    <div style="float:left"><input class="search-bar" type="text" placeholder="Nhập từ khóa tìm kiếm..."></div>
                    <div style="float:right"> <a href="#tìm kiếm"><i class="fas fa-search"></i></a></div>
                    
                   
                </div>
                <div class="col-md-2">
                    <a href="#Đăng nhập"><i class="fas fa-users"></i></a>
                    <div class="btn-cart"><a href="#Giỏ hàng"><i class="fas fa-shopping-cart"></i></a>
                    <div class="shop-items">10</div>
                    </div>
                </div>
            </div>
                    

                <div class="top-menu">
                    <div class="nav-border"></div>
                    <div class="container">
                        <!-- Navigation -->
                        <nav id="nav">
                            <ul id="navlist" class="sf-menu clearfix">
                                <li class="current">
                                    <a href="#">Trang chủ</a>
                                    <ul class="sub-menu">
                                        <li><a href="#"><span>--</span>1</a></li>
                                        <li><a href="#"><span>--</span>2</a></li>
                                        <li><a href="#"><span>--</span>3</a></li>
                                        <li><a href="#"><span>--</span>4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                    <ul class="sub-menu">
                                        <li><a href="#"><span>--</span>1</a></li>
                                        <li><a href="#"><span>--</span>2</a></li>
                                        <li><a href="#"><span>--</span>3</a></li>
                                        <li><a href="#"><span>--</span>4</a></li>
                                        <li><a href="#"><span>--</span>5</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Sản phẩm</a>
                                    <ul class="sub-menu">
                                        <li><a href="#"><span>--</span>1</a></li>
                                        <li><a href="#"><span>--</span>2</a></li>
                                        <li><a href="#"><span>--</span>3</a></li>
                                        <li><a href="#"><span>--</span>4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Tin tức</a>
                                    <ul class="sub-menu">
                                        <li><a href="#"><span>--</span>1</a></li>
                                        <li><a href="#"><span>--</span>2</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </nav>

                        <!-- Navigation -->
                    </div>
                </div>
            
        </div>
    </header>
    <div>
        @RenderBody()
        <footer>
        </footer>
    </div>
</body>
</html>
